{#- This file contains the mapping with dsw:root KM -#}
{%- import "_uuids.j2" as uuids with context -%}
{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireRepliesMap -%}
{#- Basic DMP metadata -#}
{#- maDMP variables -#}
{%- set madmpDescription = "This maDMP has been created using Data Stewardship Wizard and based on knowledge model " ~ ctx.package.name ~ " (" ~ ctx.package.pId ~ "). The questionnaire used for this DMP is identified by UUID \"" ~ ctx.questionnaireUuid ~ "\"." -%}
{%- set madmpDmpId = {
  "identifier": ctx.config.clientUrl ~ "/questionnaires/" ~ ctx.questionnaireUuid,
  "type": "url"
}
-%}
{#- Contributors (list) and contact -#}
{%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
{%- set contributorsReply = repliesMap[contributorsPath].value.value -%}
{%- set contributors = [] -%}
{%- set contacts = [] -%}
{%- for i in range(contributorsReply) -%}
  {%- set contributorName = repliesMap[[contributorsPath, i, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
  {%- set contributorEmail = repliesMap[[contributorsPath, i, uuids.contributorEmailQUuid]|reply_path]|reply_str_value -%}
  {%- set contributorOrcid = repliesMap[[contributorsPath, i, uuids.contributorOrcidQUuid]|reply_path]|reply_str_value -%}
  {%- set contributorRoleAUuid = repliesMap[[contributorsPath, i, uuids.contributorRoleQUuid]|reply_path]|reply_str_value -%}
  {#- Currently, only one role is possible -#}
  {%- set constributorRoles = [] -%}
  {%- if contributorRoleAUuid == uuids.contributorRoleContactPersonAUuid -%}
    {%- do constributorRoles.append("contact person") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleDataCollectorAUuid -%}
    {%- do constributorRoles.append("data collector") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleDataCuratorAUuid -%}
    {%- do constributorRoles.append("data curator") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleDataManagerAUuid -%}
    {%- do constributorRoles.append("data manager") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleDistributorAUuid -%}
    {%- do constributorRoles.append("distributor") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleEditorAUuid -%}
    {%- do constributorRoles.append("editor") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleProducerAUuid -%}
    {%- do constributorRoles.append("producer") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleProjectLeaderAUuid -%}
    {%- do constributorRoles.append("project leader") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleProjectManagerAUuid -%}
    {%- do constributorRoles.append("project manager") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleProjectMemberAUuid -%}
    {%- do constributorRoles.append("project member") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleResearcherAUuid -%}
    {%- do constributorRoles.append("researcher") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleRightsHolderAUuid -%}
    {%- do constributorRoles.append("rights holder") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleSponsorAUuid -%}
    {%- do constributorRoles.append("sponsor") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleSupervisorAUuid -%}
    {%- do constributorRoles.append("supervisor") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleWorkPackageLeaderAUuid -%}
    {%- do constributorRoles.append("work package leader") -%}
  {%- elif contributorRoleAUuid == uuids.contributorRoleOtherAUuid -%}
    {%- do constributorRoles.append("other") -%}
  {%- endif -%}
  {%- set contributor = {
    "contributor_id": {
      "identifier": contributorOrcid,
      "type": "orcid"
    },
    "name": contributorName,
    "role": constributorRoles
  } -%}
  {%- if contributorEmail != "" -%}
    {%- do contributor.update({"mbox": contributorEmail}) -%}
  {%- endif -%}
  {%- if contributorOrcid != "" and contributorName != "" and constributorRoles|length > 0 -%}{# do not use invalid/incomplete #}
    {%- do contributors.append(contributor) -%}

    {%- if contributorRoleAUuid == uuids.contributorRoleContactPersonAUuid and contributorEmail != "" -%}
      {%- do contacts.append(contributor) -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
-%}
{#- Projects -#}
{%- set projectsPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
{%- set projectsReply = repliesMap[projectsPath].value.value -%}
{%- set projects = [] -%}
{%- for i in range(contributorsReply) -%}
  {%- set projectName = repliesMap[[projectsPath, i, uuids.projectNameQUuid]|reply_path]|reply_str_value -%}
  {%- set projectAbstract = repliesMap[[projectsPath, i, uuids.projectAbstractQUuid]|reply_path]|reply_str_value -%}
  {%- set projectStart = repliesMap[[projectsPath, i, uuids.projectStartQUuid]|reply_path]|reply_str_value -%}
  {%- set projectEnd = repliesMap[[projectsPath, i, uuids.projectEndQUuid]|reply_path]|reply_str_value -%}

  {%- set projectFundingPath = [projectsPath, i, uuids.projectFundingQUuid]|reply_path -%}
  {%- set projectFundingReply = repliesMap[projectFundingPath]|reply_int_value -%}
  {%- set funding = [] -%}
  {%- for j in range(projectFundingReply) -%}
    {%- set funderReply = repliesMap[[projectFundingPath, j, uuids.projectFundingFunderQUuid]|reply_path] -%}
    {%- set funderUrl = "" -%}
    {%- if funderReply and funderReply.value.value.type == "IntegrationValue" -%}
      {%- set funderUrl = funderReply.value.value.id -%}
    {%- elif funderReply -%}
      {%- set funderUrl = funderReply.value.value.value -%}
    {%- endif -%}
    {%- set grantNumber = repliesMap[[projectFundingPath, j, uuids.projectFundingGrantNumberQUuid]|reply_path]|reply_str_value -%}
    {%- set fundingStatusAUuid = repliesMap[[projectFundingPath, j, uuids.projectFundingStatusQUuid]|reply_path]|reply_str_value -%}
    {%- set fundingStatus = "" -%}
    {%- if fundingStatusAUuid == uuids.projectFundingStatusPlannedAUuid -%}
      {%- set fundingStatus = "planned" -%}
    {%- elif fundingStatusAUuid == uuids.projectFundingStatusAppliedAUuid -%}
      {%- set fundingStatus = "applied" -%}
    {%- elif fundingStatusAUuid == uuids.projectFundingStatusGrantedAUuid -%}
      {%- set fundingStatus = "granted" -%}
    {%- elif fundingStatusAUuid == uuids.projectFundingStatusRejectedAUuid -%}
      {%- set fundingStatus = "rejected" -%}
    {%- endif -%}

    {%- set oneFunding = {
      "funder_id": {
        "identifier": funderUrl,
        "type": "url"
      },
      "grant_id": {
        "identifier": grantNumber,
        "type": "other"
      }
    } -%}
    {%- if fundingStatus != "" -%}
      {%- do oneFunding.update({"funding_status": fundingStatus}) -%}
    {%- endif -%}

    {%- if funderUrl != "" and grantNumber != "" -%}{# do not use invalid/incomplete #}
      {%- do funding.append(oneFunding) -%}
    {%- endif -%}
  {%- endfor -%}

  {%- set project = {
    "title": projectName,
    "start": projectStart,
    "end": projectEnd
  } -%}
  {%- if projectAbstract != "" -%}
    {%- do project.update({"description": projectAbstract}) -%}
  {%- endif -%}
  {%- if funding|length > 0 -%}
    {%- do project.update({"funding": funding}) -%}
  {%- endif -%}

  {%- if projectName != "" and projectStart != "" and projectEnd != "" -%}{# do not use invalid/incomplete #}
    {%- do projects.append(project) -%}
  {%- endif -%}
{%- endfor -%}
{#- Ethical Issues -#}
{%- set ethicalIssuesExistNo = false -%}
{%- set ethicalIssuesExistNrefNo = true -%}
{%- set ethicalIssuesExistConsentNo = false -%}
{%- set ethicalIssuesExistPrivacyNo = false -%}
{%- set ethicalIssuesExistYes = false -%}
{%- set ethicalIssuesDescriptions = [] -%}

{# TODO: non-reference data sets consent #}

{%- set needConsentAUuid = repliesMap[[uuids.creatingCUuid, uuids.needConsentQUuid]|reply_path]|reply_str_value -%}
{%- if needConsentAUuid == uuids.needConsentNoNotCollectAUuid -%}
  {%- set ethicalIssuesExistConsentNo = true -%}
{%- elif needConsentAUuid == uuids.needConsentNoAnotherLegalAUuid -%}
  {%- set ethicalIssuesExistConsentNo = true -%}
{%- elif needConsentAUuid == uuids.needConsentYesSpecificAUuid -%}
  {%- set ethicalIssuesExistYes = true -%}
  {%- do ethicalIssuesDescriptions.append("We will collect consent for our specific use of the newly collected personal data.") -%}
{%- elif needConsentAUuid == uuids.needConsentYesReuseAUuid -%}
  {%- set ethicalIssuesExistYes = true -%}
  {%- do ethicalIssuesDescriptions.append("We will collect consent for the newly collected personal data as well as reuse of the data.") -%}
{%- elif needConsentAUuid == uuids.needConsentYesAnonymizeAUuid -%}
  {%- set ethicalIssuesExistYes = true -%}
  {%- do ethicalIssuesDescriptions.append("We will collect consent for our use of the data, and will anonymize the data afterwards for reuse.") -%}
{%- endif -%}

{%- set legalResonsPath = [uuids.givingAccessCUuid, uuids.legalReasonsQUuid]|reply_path -%}
{%- set legalResonsAUuid = repliesMap[legalResonsPath]|reply_str_value -%}
{%- if legalResonsAUuid == uuids.legalReasonsNoAUuid -%}
  {%- set ethicalIssuesExistPrivacyNo = true -%}
{%- elif legalResonsAUuid == uuids.privacyReasonsYesAUuid -%}
  {%- set ethicalIssuesExistYes = true -%}
  {%- do ethicalIssuesDescriptions.append("There privacy reasons so our data can not be open.") -%}

  {%- set legalResonsYesPath = [uuids.givingAccessCUuid, uuids.legalReasonsQUuid, uuids.privacyReasonsYesAUuid]|reply_path -%}
  {%- set privacyRestrictionsAUuid = repliesMap[[legalResonsYesPath, uuids.privacyRestrictionsQUuid]|reply_path]|reply_str_value -%}
  {%- set privacyPseudoAUuid = repliesMap[[legalResonsYesPath, uuids.privacyPseudoQUuid]|reply_path]|reply_str_value -%}
  {%- set privacyAnonAUuid = repliesMap[[legalResonsYesPath, uuids.privacyAnonQUuid]|reply_path]|reply_str_value -%}
  {%- set privacyAggregationAUuid = repliesMap[[legalResonsYesPath, uuids.privacyAggregationQUuid]|reply_path]|reply_str_value -%}

  {%- if privacyRestrictionsAUuid == uuids.privacyRestrictionsNoAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We are not restricted in terms where the data can be stored.") -%}
  {%- elif privacyRestrictionsAUuid == uuids.privacyRestrictionsYesEUAUuid -%}
    {%- do ethicalIssuesDescriptions.append("Our data must are restricted to stay in EU.") -%}
  {%- elif privacyRestrictionsAUuid == uuids.privacyRestrictionsYesCountryAUuid -%}
    {%- do ethicalIssuesDescriptions.append("Our data must are restricted to stay in the same country.") -%}
  {%- elif privacyRestrictionsAUuid == uuids.privacyRestrictionsYesInstituteAUuid -%}
    {%- do ethicalIssuesDescriptions.append("Our data must are restricted to stay in the same institute.") -%}
  {%- endif -%}

  {%- if privacyPseudoAUuid == uuids.privacyPseudoNoAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could not make the data more openly available by pseudonymization.") -%}
  {%- elif privacyPseudoAUuid == uuids.privacyPseudoYesAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could make the data more openly available by pseudonymization.") -%}
  {%- endif -%}

  {%- if privacyAnonAUuid == uuids.privacyAnonNoAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could not make the data more openly available by anonymization.") -%}
  {%- elif privacyAnonAUuid == uuids.privacyAnonYesAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could make the data more openly available by anonymization.") -%}
  {%- endif -%}

  {%- if privacyAggregationQUuid == uuids.privacyAggregationNoAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could not make the data more openly available by data aggregation.") -%}
  {%- elif privacyAggregationQUuid == uuids.privacyAggregationYesAUuid -%}
    {%- do ethicalIssuesDescriptions.append("We could make the data more openly available by data aggregation.") -%}
  {%- endif -%}
{%- endif -%}

{%- set ethicalIssuesExistNo = ethicalIssuesExistNrefNo and ethicalIssuesExistConsentNo and ethicalIssuesExistPrivacyNo -%}
{%- set ethicalIssuesExist = "unknown" -%}
{%- if ethicalIssuesExistYes -%}
  {%- set ethicalIssuesExist = "yes" -%}
{%- elif ethicalIssuesExistNo -%}
  {%- set ethicalIssuesExist = "no" -%}
{%- endif -%}

{%- set ethicalIssuesDescription = ethicalIssuesDescriptions|join(" ") -%}
{#- maDMP object (according to the schema) -#}
{%- set madmp = {
  "title": ctx.questionnaireName,
  "description": madmpDescription,
  "language": "eng",
  "dmp_id": madmpDmpId,
  "contributor": contributors,
  "project": projects,
  "ethical_issues_exist": ethicalIssuesExist,
  "created": ctx.createdAt|datetime_format("%Y-%m-%d %H:%M:%S"),
  "modified": ctx.updatedAt|datetime_format("%Y-%m-%d %H:%M:%S")
} -%}
{%- if contacts|length > 0 -%}
  {%- do madmp.update({"contact": contacts[0]}) -%}
{%- endif -%}
{%- if ethicalIssuesDescriptions|length > 0 -%}
  {%- do madmp.update({"ethical_issues_description": ethicalIssuesDescription}) -%}
{%- endif -%}
