{%- import "_mapping.j2" as mapping with context -%}
@prefix : <https://w3id.org/dcso/ns/core#> .
@prefix dc: <http://purl.org/dc/elements/1.1/> .
@prefix ns: <http://www.w3.org/2003/06/sw-vocab-status/ns#> .
@prefix dct: <http://purl.org/dc/terms/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix wot: <http://xmlns.com/wot/0.1/> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dcam: <http://purl.org/dc/dcam/> .
@prefix dcat: <http://www.w3.org/ns/dcat#> .
@prefix dcso: <https://w3id.org/dcso/ns/core#> .
@prefix dcsx: <https://w3id.org/dcso/ns/extension#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix prov: <http://www.w3.org/ns/prov#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix vann: <http://purl.org/vocab/vann/> .
@prefix terms: <http://purl.org/dc/terms/> .
@prefix schema: <http://schema.org/> .

@prefix dcs-cur: <https://w3id.org/dcso/id/iso4217/> .
@prefix dcs-geo: <https://w3id.org/dcso/id/iso3166-1/> .
@prefix dcs-lang: <https://w3id.org/dcso/id/iso639-3/> .
@prefix ex: <https://w3id.org/dcso/id/example/> .
@base <https://w3id.org/dcso/ns/core> .

ex:dmp_1 a dcso:DMP ;
         terms:title "{{ mapping.madmp["dmp"]["title"] }}" .
         dcso:ethical_issues_exist "{{ mapping.madmp["dmp"]["ethical_issues_exist"] }}" ;
         terms:created "{{ mapping.madmp["dmp"]["created"] }}" ;
         terms:description "{{ mapping.madmp["dmp"]["description"] }}" ;
         terms:language dcs-lang:{{ mapping.madmp["dmp"]["language"] }} ;
         terms:modified "{{ mapping.madmp["dmp"]["modified"] }}" ;

